body.dark {
  color: white;  
  background-color: black; !important
}
.img-header {
    position: absolute;
    top: 0;
    width: 90%;
    max-width: 500px;
    -o-object-fit: cover;
    object-fit: cover;
    height: 400px;
    -o-object-position: top;
    object-position: top;
}
.container {
    background-color: rgba(0,0,0,0);
}

.project-description {
    margin-top: 240px;
    z-index: 10;
    position: relative;
    width: 90%;
    max-width: 500px;
    -webkit-box-shadow: 0 0 250px 100px white;
    box-shadow: 0 0 250px 100px white;
}
body.dark .project-description {
    -webkit-box-shadow: 0 0 250px 100px black;
    box-shadow: 0 0 250px 100px black;
}
.project-description p {
    opacity: .8;
    margin-top: 12px;
}

.header {
    background-color: rgba(0,0,0,0);
    position: relative;
    z-index: 100;
}

.header .red-dot {
    top: 0;
    opacity: 1;
    -webkit-animation: none;
    animation: none;
}

.card img {
    border: 1px solid gray;
    height: auto;
    max-height: 500px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    
}