.graphics {
  height: 0;
}

.semi-contained {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 64rem;
}
.gridline {
  z-index: -1;
}

.gridline.vertical {
  border-left: 2px dashed rgb(0, 171, 238);
  height: 100%;
  position: fixed;
  top: 0;
}

.gridline.vertical.for-lists {
  border-left: 1px solid rgba(220, 180, 92, 0.415);
  margin-left: 2rem;
}

.gridline.horizontal {
  border-bottom: 2px dashed rgb(0, 171, 238);
  height: 0rem;
  margin-top: 8rem;
  position: absolute;
  top: 0;
  width: 100%;
}