.semi-contained {
  margin: 0 auto;
  padding: 2rem;
  max-width: 64rem;
}
.gridline {
  z-index: -1;
}

.gridline.vertical {
  border-left: 2px dashed rgba(49, 197, 255, 1);
  height: 100%;
  position: fixed;
  top: 0;
}

.gridline.vertical.for-lists {
  border-left: 3px dotted rgba(221, 162, 33, 0.4);
  margin-left: 2rem;
}

.gridline.horizontal {
  border-bottom: 2px dashed rgba(49, 197, 255, 1);
  height: 0rem;
  margin-top: 8rem;
  position: absolute;
  top: 0;
  width: 100%;
}