.header {
    height: 60px;
}

.logo {
    display: block;
    width: 50px;
    margin: auto;
    height: 60px;
}

.logo a {
    text-decoration: none;
}

.logo a h1 {
    -ms-transition: .25s all;
    -moz-transition: .25s all;
    -webkit-transition: .25s all;
    transition: .25s all;
    color: #029ea3;
}

.logo a:hover h1{
    -ms-transform: skew(-20deg, 0);
    -moz-transform: skew(-20deg, 0);
    -webkit-transform: skew(-20deg, 0);
    transform: skew(-20deg, 0);
}

.logo h1 {
    font-weight: bold;
    font-size: 48px;
    font-family: 'Varela Round', serif;
}