@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&family=DM+Serif+Display&family=Fredoka+One&display=swap');
html {
  font-size: 18px;
  font-family: 'Source Serif Pro', serif;
}
body {
  margin: 0;
  line-height: 1.25;
  background: #f3efeb;
}
::selection {
  background: rgb(15, 115, 155);
  color: white;
}

a {
  color: rgb(15, 115, 155);
}

.contained {
  padding: 0 1rem;
  max-width: 64rem;
  margin: 0 auto;
}

main {
  padding: 0 1rem;
}

footer {
  padding: 4rem 0;
}

.section {
  margin-bottom: 3rem;
}


h1, h2, h3, h4, h5 {
  margin: 0;
}

h1, h2 {
  font-family: 'DM Serif Display', serif;
}

h3 {
  font-weight: 700;
}
ul {
  list-style: none;
}
li {
  position: relative;
  margin-top: 1.5rem;
}
li:before {
  position: absolute;
  content: '';
  background: rgba(0,0,0,0.1);
  border-radius: 1rem;
  top: 0.1rem;
  width: 1rem;
  height: 1rem;
  left: -1.5rem;
}
p {
  margin: 0.5rem 0;
}

/* Source: A11y project */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}