@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&family=DM+Serif+Display&family=Fredoka+One&display=swap');
html {
  font-size: 18px;
  font-family: 'Source Serif Pro', serif;
}
body {
  margin: 0;
  line-height: 1.25;
  background: #f3efeb;
}


.contained {
  padding: 0 1rem;
  max-width: 64rem;
  margin: 0 auto;
}

main {
  padding: 0 1rem;
}

footer {
  padding: 4rem 0;
}

.section {
  margin-bottom: 3rem;
}


h1, h2, h3, h4, h5 {
  margin: 0;
}

h1, h2 {
  font-family: 'DM Serif Display', serif;
}

h3 {
  font-weight: 700;
}

li {
  margin-top: 1.5rem;
}
p {
  margin: 0.5rem 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid rgb(18, 105, 185);
  color: rgb(18, 105, 185);
}
a:visited {
  border-bottom: 2px solid rgb(126, 35, 65);
  color: rgb(126, 35, 65);
}

/* Source: A11y project */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}